.popup-content {
  width: 35%;
  height: 180px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop-up-button-container {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-around;
  margin-top: 20px;
}
